<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          Naren Thiagarajan
        </a>
      </h2>
      <p class="lead">Infrastructure and Scalability <a href="http://www.locationlabs.com">@locationlabs</a></p>
      <a href="https://github.com/narenst"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/@narenst"><i class="fa fa-twitter"></i>
    </div>
  </div>
</div>

